.dbox{
 margin-top: 4px;
 
 
 
}
.ebox{
    margin-top: 0px;
    margin-left: 0px;
}
.cbox{
border: 0px solid;
margin-top: 2px;
margin-left: 0px;
height: 629px;
margin: 0px;
background-color: cyan;
}
h1 {
	color: blue;

	margin-top: 5px;
	background-image: url(images.jpeg);
<!--	text-decoration: underline; -->
<!--	border-bottom: 1px solid black; -->
}
